@import "header.css";
@import "reset.css";
@import "FOOTER.css";
@import "main.css";

:root {
  --button-primary: rgb(254, 111, 15);
  --button-hover: rgba(254, 111, 15, 0.8);
}

.items-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ededef;
  padding: 20px 0 20px 0;
}

.items-list__img {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.items-list__img img {
  width: 100%;
  height: 100%;
}

main {
  padding: 30px 20px 100px 20px;
}

.items-list__info {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: start;
}

.items-list__info div {
  margin-top: 10px;
}

.items-list__meta {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.3);
}

.items-list__price {
  font-weight: bold;
}
.write-btn {
  background-color: var(--button-primary);
  color: white;
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  border-radius: 25px;
  position: fixed;
  bottom: 100px;
  right: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  cursor: pointer;
  text-decoration: none;
}
.write-btn:hover {
  background-color: var(--button-hover);
}

.media-info-msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}

@media screen and (max-width: 500px) {
  .media-info-msg {
    display: none;
  }
}
